---
import Main from "../layaouts/main.astro"
import CatalogoComponent from "../components/Catalogo.svelte"
---

<Main>
    <div class="flex justify-center w-4/5 bg-accent rounded mx-auto my-2">
        <h2 class="text-xl text-blue-900">ofertas de la semana</h2>
    </div>
    <div class="carousel w-full ">
        <div id="slide1" class="carousel-item relative w-full">
            <div class="flex justify-center w-full">
                <img src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
            </div>
            <div
                class="absolute flex justify-between transform-translate-y-1/2 left-5 right-5 top-1/2"
            >
                <a href="#slide3" class="btn btn-circle">❮</a>
                <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
            <div class="flex justify-center w-full">
                <img src="https://images.pexels.com/photos/297933/pexels-photo-297933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-1/4" />
            </div>
            <div
                class="absolute flex justify-between transform-translate-y-1/2 left-5 right-5 top-1/2"
            >
                <a href="#slide1" class="btn btn-circle">❮</a>
                <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
            <div class="flex justify-center w-full">
                <img src="venta3.jfif" />
            </div>
            <div
                class="absolute flex justify-between transform-translate-y-1/2 left-5 right-5 top-1/2"
            >
                <a href="#slide2" class="btn btn-circle">❮</a>
                <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
    <CatalogoComponent client:visible />
</Main>
