---
import Main from "../layaouts/main.astro";
---

<Main>
	<div class="flex justify-around">
            <div class="border rounded bg-primary p-1 m-2">
                <h2 class="text-3xl text-blue-800 text-bold text-center">Informacion</h2>
                <p class="text-sm text-blue-800">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea voluptates, mollitia nesciunt accusamus doloribus
                    dolores voluptatem enim. Commodi recusandae ratione
                    nostrum excepturi repellat? Quisquam doloribus ipsa, et
                    dolore blanditiis quas.
                </p>
            </div>
        </div>
</Main>

